.App {
  text-align: center;
  background-color:#4aba91;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #61dafb;
}

.navbar {
  display: grid;
  background-color: #d4ce46;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  text-align: center;
  margin: 0px, 0px, 0px, 0px;
  border: 10px;
  height: 60px;
  width: 100%;
  color: black;
}

.nav-logo {
  font-size: Large;
  grid-column: 2/3;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 5px;
}

.nav-links {
  font-size: 14pt;
  display: flex;
  position: relative;
  margin-top: 5px;
  /* height: 50%; */
  align-items: center;
  justify-content: space-evenly;
}

.main-container {
  background-color:#4aba91 
}

.entry-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px;
}

.entry-card {
  margin: 8px;
  width: 90%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
  0 7px 20px 0 rgba(0, 0, 0, 0.2);
  background-color:white;
}

.entry-card img {
  width: 100%;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #0e5135;
}

.filter input {
    font-size: 16px;
    height: 40px;
    width: 100%;
    border: none;
}

.filter input::placeholder {
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.55);
  font-weight: bolder;
}

.button-row {
  display: flex;
  flex-direction: row;
  /* margin: 10px; */
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

.button-row button {
  height: auto;
  width: 15%;
  border-radius: 25px;
  border-color: black;
  font-weight: bold;
  font-size: 11pt;
}

.show-container{
  margin: 12px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}



.main-show {
  margin: 0px;
  display: grid;
  grid-template-columns: 30% 15fr 1fr;
  grid-template-rows: 30% 1fr 1fr;
  height: 100vh;
  width: 100%;
  grid-gap: 8px;
}

.exit-show {
  margin: 20px;
  grid-column: 3/4;
  grid-row: 1/2;
}

.left-show {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-left: 40px;
  margin-top: 40px;
  align-content: center;
  justify-content: center;
  max-width: 350px;
}

#show-image {
  max-width: 300px;
  width: 80%;
  justify-content: center;
  align-content: center;
}

.right-show {
  grid-column: 2/3;
  grid-row: 1/3;
  margin-top: 20px;
  align-content: center;
  justify-content: right;
}



.review-button{
  width: 60%;
  justify-content: center;
  position: center;
}

.nav-links {
  display: flex;
  position: relative;
  /* background-color: #E0E0E0; */
  height: 60%;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 20%;
  
}

.notes-container {
  grid-column: 1/4;
  position: relative;
  grid-row:  3/5;
  background-color: #0e5135;
  /* background-color: #2b324e; */
  border-radius: 25px;
  color: white;
  padding: 20px;
  overflow: auto;
  margin: 10px;
}

.notes-container input{
  align-items: center;
  position: relative;
}

.form-container {
  grid-column: 4/5;
  position: relative;
  grid-row:  2/5;
  background-color: #d4ce46 ;
  border-radius: 25px;
  color: black;
  /* padding: 10px; */
  overflow: auto;
  margin: 10px;
  align-items: center;
  position: relative;
  padding-bottom: 5px;
  padding-right: 20px;
}

.form-container input[type=textarea]{
  
  width: 100%;
  /* height: 60;  */
  margin:12px;
  padding: 12px 20px;
  text-wrap:unrestricted;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;

}

ul {
  font-size: 12pt;
}

li {
  font-size: 12pt;
}

.note-form {
  grid-column: 2/3;
  grid-row: 1/2;
  color:white;
  z-index: 1;
  border-radius: 10px;
}

.note-pop-up {
  height: 80%;
  z-index: 2;
  position: relative
}

.note-card {
  display: grid;
  background-color: #0d9263;
  grid-template-columns: 1fr 1fr;
  border: white solid 2px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.note-left {
  text-align:left;
  padding-left: 5px;
}

.note-right {
  text-align:right;
  padding-right: 5px;
}
